<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duclinh1610.quanlithuvien">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NhapSach" />
        <activity
            android:name=".SachActivity"
            android:label="@string/title_activity_sach"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.duclinh1610.quanlithuvien.MainActivity" />
        </activity>
        <activity android:name=".ThongTinSachActivity" />
        <activity android:name=".UpdateSach" />
        <activity
            android:name="com.example.duclinh1610.nguoidung.NguoiDungActivity"
            android:label="@string/title_activity_pepple"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.duclinh1610.quanlithuvien.MainActivity" />
        </activity>
        <activity android:name="com.example.duclinh1610.nguoidung.ThemNguoiDung" />
        <activity
            android:name="com.example.duclinh1610.muon_tra.MuonSach"
            android:label="@string/title_activity_muon_sach"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.duclinh1610.quanlithuvien.MainActivity" />
        </activity>
        <activity android:name="com.example.duclinh1610.nguoidung.ThongTinUserActivity" />
        <activity android:name="com.example.duclinh1610.nguoidung.UpdateUser" />
        <activity
            android:name="com.example.duclinh1610.muon_tra.TraSach"
            android:label="@string/title_activity_tra_sach"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.duclinh1610.quanlithuvien.MainActivity" />
        </activity>
    </application>

</manifest>
